@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --form-c-title: #1C1C1C;
    --form-c-main: #545454;
    --form-c-text: #969696;
    --form-c-blue: #007BFF;
    --form-c-white: #FFFFFF;
    --form-c-black: #000000;
    --form-c-border: #E4E4E4;
    --form-c-bg: #F7F7F7;

    --fs-13: 13px;
    --fs-15: 15px;
    --fs-24: 24px;
}

.--mr-10 {
    margin-right: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.main__content {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
}

.section {
    max-width: 570px;
    width: 90%;
    background-color: var(--form-c-white);
    padding: 35px 34px;
}

.flex-wrapper {
    display: flex;
    margin-bottom: 20px;
}

html,body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-15);
    color: var(--form-c-main);
    background-color: var(--form-c-bg);
    line-height: 1.38;
    font-weight: 400;
}

.title {
    font-weight: 500;
    font-size: var(--fs-24);
    line-height: 1.33;
    color: var(--form-c-title);
    margin-bottom: 20px;
}

input:not([type=checkbox], [type=radio]) {
    width: 100%;
    font-size: var(--fs-15);
    color: var(--form-c-main);
    padding: 8px 10px;
    background-color: var(--form-c-white);
    border: 1px solid var(--form-c-border);
    border-radius: 6px;
    outline: none;
}

input:focus:not([type=checkbox], [type=radio]) {
    border-color: var(--form-c-blue);
}

.input {
    width: 100%;
    margin-bottom: 20px;
}

.input__label {
    display: block;
    line-height: 1.47;
    margin-bottom: 7px;
}

.input__form-el {

}

.input__text {
    display: inline-block;
    font-size: var(--fs-13);
    margin-top: 7px;
}



